@charset "UTF-8";
/* CSS Document */
body {background-color: #D6C039;}
table {background-color: #DDC410}
H2 {
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 36px;
}
.main #container {
    margin-left: auto;
    margin-right: auto;
}

.list {
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 16px;
}
@media screen{
.center {
}
}
.main {
}
